# MongoDB + MongoDB Express environment variables
# Copy this file to .env and customize as needed

MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=admin
MONGODB_PORT=27017

ME_USER=admin
ME_PASSWORD=admin
MONGO_EXPRESS_PORT=8081
